
@{
    ViewData["Title"] = "Index";
}

<!-- top bar -->
<div class="hotel-top-bar">
    <div class="container">
        <div class="hotel-left-side">
            <!-- logo -->
            <a href="index.html" class="hotel-logo-frame" style="width: 50px;">
                <img src="img/hotellogo.png" alt="logo">
            </a>
            <!-- logo end -->
        </div>
        <div class="hotel-right-side">
            <!-- menu -->
            <div class="hotel-menu">
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">Ana Səhifə</a>
                        </li>
                        <li>
                            <a href="about.html">Haqqımızda</a>
                        </li>
                        <li>
                            <a href="rooms.html">Hotellər</a>
                        </li>
                        <li>
                            <a href="menu.html">Otaqlar</a>
                        </li>
                        <li class="current-item">
                            <a href="service.html">Xidmətlərimiz</a>
                        </li>
                        <li>
                            <a href="contact.html">Əlaqə</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- menu end -->
            <!-- action button -->
            <a href="login.html" class="hotel-btn"><img src="img/icons/bookmark.svg" alt="icon">Giriş</a>
            <!-- action button end -->
        </div>
        <!-- menu button -->
        <div class="hotel-menu-btn"><span></span></div>
        <!-- menu button end -->
    </div>
</div>
<!-- top bar end -->
<!-- banner -->
<section class="hotel-banner-simple services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="hotel-center hotel-title-frame">
                    <h1 class="hotel-mb-20 hotel-h1-inner">Xidmətlərimiz</h1>
                    <p class="hotel-mb-30">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab vitae, dolor harum eaque nihil iste tempora error eveniet aut adipisci.</p>
                    <ul class="hotel-breadcrumbs">
                        <li><a href="index.html">Ana Səhifə</a></li>
                        <li><span>Xidmətlərimiz</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- banner end -->
<!-- services -->
<section class="hotel-p-0-80 service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="hotel-center hotel-title-frame hotel-scroll-animation hotel-mb-100">
                    <h2 class="hotel-mb-20">Bütün Xidmətlərimiz</h2>
                    <p class="hotel-mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, culpa quasi facilis adipisci id atque tempora, nobis omnis tempore ea aspernatur sunt doloribus et rerum cumque hic ullam rem ad.</p>
                </div>

            </div>
            <div class="col-lg-4">

                <!-- service card -->
                <div class="hotel-ath-card hotel-scroll-animation imgLoad">
                    <div class="hotel-cover-frame">
                        <img class="lozad" data-src="img/services/1.jpg" alt="cover">
                    </div>
                    <div class="hotel-card-description">
                        <h3 class="hotel-mb-10">Lounge Bar</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, similique!</p>
                    </div>
                </div>
                <!-- service card end -->

            </div>
            <div class="col-lg-4">

                <!-- service card -->
                <div class="hotel-ath-card hotel-scroll-animation imgLoad">
                    <div class="hotel-cover-frame">
                        <img class="lozad" data-src="img/services/2.jpg" alt="cover">
                    </div>
                    <div class="hotel-card-description">
                        <h3 class="hotel-mb-10">Hovuz</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, laborum!</p>
                    </div>
                </div>
                <!-- service card end -->

            </div>
            <div class="col-lg-4">

                <!-- service card -->
                <div class="hotel-ath-card hotel-scroll-animation imgLoad">
                    <div class="hotel-cover-frame">
                        <img class="lozad" data-src="img/services/3.jpg" alt="cover">
                    </div>
                    <div class="hotel-card-description">
                        <h3 class="hotel-mb-10">Restorant</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, rerum?</p>
                    </div>
                </div>
                <!-- service card end -->

            </div>
            <div class="col-lg-4">

                <!-- service card -->
                <div class="hotel-ath-card hotel-scroll-animation imgLoad">
                    <div class="hotel-cover-frame">
                        <img class="lozad" data-src="img/services/4.jpg" alt="cover">
                    </div>
                    <div class="hotel-card-description">
                        <h3 class="hotel-mb-10">Oyun Zalı</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ea!</p>
                    </div>
                </div>
                <!-- service card end -->

            </div>
            <div class="col-lg-4">

                <!-- service card -->
                <div class="hotel-ath-card hotel-scroll-animation imgLoad">
                    <div class="hotel-cover-frame">
                        <img class="lozad" data-src="img/services/5.jpg" alt="cover">
                    </div>
                    <div class="hotel-card-description">
                        <h3 class="hotel-mb-10">Spa Salonu</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, deserunt.</p>
                    </div>
                </div>
                <!-- service card end -->

            </div>
            <div class="col-lg-4">

                <!-- service card -->
                <div class="hotel-ath-card hotel-scroll-animation imgLoad">
                    <div class="hotel-cover-frame">
                        <img class="lozad" data-src="img/services/6.jpg" alt="cover">
                    </div>
                    <div class="hotel-card-description">
                        <h3 class="hotel-mb-10">İdman Zalı</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, doloremque.</p>
                    </div>
                </div>
                <!-- service card end -->

            </div>
        </div>
    </div>
</section>
<!-- services end -->
