
@{
    ViewData["Title"] = "Index";
}

<!-- banner -->
<section class="hotel-banner-simple hotel-transition-bottom contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="hotel-center hotel-title-frame">
                    <h1 class="hotel-mb-20 hotel-h1-inner">Əlaqə</h1>
                    <p class="hotel-mb-30">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quis molestias voluptas laborum..</p>
                    <ul class="hotel-breadcrumbs">
                        <li><a href="index.html">Ana Səhifə</a></li>
                        <li><span>Əlaqə</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- banner end -->
<!-- contact -->
<section class="hotel-p-100-100">

    <div id="hotel-triger-1"></div>

    <div class="container">

        <!-- features card -->
        <div class="hotel-features-card">

            <div class="row">
                <div class="col-12 col-lg-4">

                    <!-- icon box -->
                    <div class="hotel-icon-box imgLoad">
                        <img class="lozad" data-src="img/features/9.svg" alt="icon" class="hotel-mb-10">
                        <h5 class="hotel-mb-10">Ünvan</h5>
                        <p>Bakı,Azərbaycan</p>
                    </div>
                    <!-- icon box end -->

                </div>
                <div class="col-12 col-lg-4">

                    <!-- icon box -->
                    <div class="hotel-icon-box imgLoad">
                        <img class="lozad" data-src="img/features/10.svg" alt="icon" class="hotel-mb-10">
                        <h5 class="hotel-mb-10">Telefon</h5>
                        <p>+99455 555-55-55</p>
                    </div>
                    <!-- icon box end -->

                </div>
                <div class="col-12 col-lg-4">

                    <!-- icon box -->
                    <div class="hotel-icon-box imgLoad">
                        <img class="lozad" data-src="img/features/11.svg" alt="icon" class="hotel-mb-10">
                        <h5 class="hotel-mb-10">Email</h5>
                        <p><a href="mailto:inbox@inbox.com">inbox@mail.com</a> </p>
                    </div>
                    <!-- icon box end -->

                </div>
            </div>

        </div>
        <!-- contact end -->

    </div>
</section>




<!-- map end -->
<section class="hotel-transition-top hotel-p-0-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="hotel-scroll-animation">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Adınız">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="col-lg-12">
                            <textarea name="name" rows="8" placeholder="Mesajınız"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <div class="hotel-form-submit-frame">
                                <!-- temporary button to show the popup -->
                                <a class="hotel-btn" data-fancybox href="#hotel-success">Göndər</a>
                                <!-- <button class="hotel-btn">Send</button> -->
                                <div class="hotel-text-sm">*Şəxsi məlumatlarınızı üçüncü tərəflərə açıqlamayacağımıza söz veririk.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- map -->
<section class="map">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="hotel-mb-40 hotel-scroll-animation">Xəritədə yerimiz</h3>
        </div>
        <div class="col-lg-12">

            <div class="hotel-map-frame hotel-mb-60">
                <div class="hotel-lock"><i class="fas fa-lock"></i></div>
                <div id="map" class="hotel-map"></div>
            </div>

        </div>
    </div>
</section>

