<div class="hotel-book-form hotel-book-form-2">
    <form>
        <div class="row align-items-center">
            <div class="col-12 col-lg-3">
                <div class="hotel-input-frame hotel-book-form-2">
                    <label for="check-in">Gəliş</label>
                    <input id="check-in"
                           type="text"
                           class="datepicker-here"
                           data-position="bottom left"
                           placeholder="Tarix seçin"
                           autocomplete="off"
                           readonly="readonly" />
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="hotel-input-frame">
                    <label for="check-out" class="hotel-add-icon">Gediş</label>
                    <input id="check-out"
                           type="text"
                           class="datepicker-here"
                           data-position="bottom left"
                           placeholder="Tarix seçin"
                           autocomplete="off"
                           readonly="readonly" />
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="hotel-select-frame">
                    <label for="person">Böyük</label>
                    <select id="person">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" disabled>4</option>
                    </select>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="hotel-select-frame">
                    <label for="children">Uşaq</label>
                    <select id="children">
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="3" disabled>3</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-1 text-center imgLoad">
                <button id="search-input" type="submit" class="hotel-btn">
                    <img class="lozad" src="~/img/icons/search.svg"
                         class="hotel-zoom"
                         alt="icon" /><span>Axtar</span>
                </button>
            </div>
        </div>
    </form>
</div>